@model Author

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
  

<h1>Author: @Model!.FirstName @Model.LastName</h1>
<p>@Model.DateOfBirth - @Model.DateOfDeath</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Books</h4>

    <dl>
        @foreach (var book in @Model.Books!.Select((item,index) => (item,index)))
        {
            <dt><a asp-action="Detail" asp-controller="Book" asp-route-id="@book.item.Id">@book.item.Title</a> (@book.index)</dt>
            <dd>@book.item.Summary</dd>
        }
    </dl>

</div>
