@model IEnumerable<Author>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Author index page</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var author in Model) {
    <tr>
            <td>
             
                <a class="nav-link"  asp-action="Detail" asp-route-id="@author.Id">
                    @Html.DisplayFor(modelItem => author.FirstName)
                </a>

            </td>
            <td>
                <a class="nav-link"  asp-action="Detail" asp-route-id="@author.Id">
                    @Html.DisplayFor(modelItem => author.LastName)
                </a>
            </td>
            <td>
                @author.DateOfBirth?.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => author.DateOfDeath)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
